<div class="faq-container">
    <div class="row">
      <div class="col-md-6">
        <ngb-accordion #acc="ngbAccordion" activeIds="faq1">
          <ngb-panel id="faq1">
            <ng-template ngbPanelTitle>
              <strong>¿Cómo comprar?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Selecciona la suscripción, completa tus datos y paga con tu método preferido.</li>
              </ul>
            </ng-template>
          </ngb-panel>
  
          <ngb-panel id="faq2">
            <ng-template ngbPanelTitle>
              <strong>¿Puedo cambiar el libro que me toque?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Sí, escribinos a <a href="mailto:soporte@bookflix.com">soporte@bookflix.com</a></li>
              </ul>
            </ng-template>
          </ngb-panel>
  
          <ngb-panel id="faq3">
            <ng-template ngbPanelTitle>
              <strong>¿Puedo pausar la suscripción cuando quiera?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Para una baja rápida, contáctanos a <a href="mailto:soporte@bookflix.com">soporte@bookflix.com</a></li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
  
      <div class="col-md-6">
        <ngb-accordion #acc2="ngbAccordion" activeIds="faq4">
          <ngb-panel id="faq4">
            <ng-template ngbPanelTitle>
              <strong>¿Cuáles son los métodos de envío?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Una vez finalizada la compra, te llegará un correo con los datos de envío al mail que declaraste.</li>
              </ul>
            </ng-template>
          </ngb-panel>
  
          <ngb-panel id="faq5">
            <ng-template ngbPanelTitle>
              <strong>¿Cuáles son los medios de pago que aceptan?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Aceptamos tarjeta de crédito</li>
              </ul>
            </ng-template>
          </ngb-panel>
  
          <ngb-panel id="faq6">
            <ng-template ngbPanelTitle>
              <strong>¿Puedo cambiarme a un plan menor cuando quiera?</strong>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul>
                <li>Primero, contáctanos para darte de baja; luego, elige una nueva suscripción.</li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
