footer {
    background-color: #2B2118;
    color: #6F1A07;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

footer p {
    margin: 0;
}