footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}

footer p {
    margin: 0;
}