.reviews-container {
    background-color: #F8F5E1; 
    padding: 40px;
    text-align: center;
}

.review-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.review-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.stars {
    font-size: 20px;
    color: black;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: black;
}